body,html{
    
    margin:0;
    
    background-color:transparent;
    float:left;
    
}

#canvas{
    
    border-radius:7px;
    width:auto;
    height:auto;
    
}

#upgrades{  
}

.elemValue{
    
    flex:auto;
    
}

.UpgElem{
    
    display:flex;
    flex-direction: row;
    width:100%;
    
}

.debugElem{
    
    width:100%;
    
}