 
#upFrame{
   
}
 
#upgrade{
    background-color: #EEEEEE;
    position:absolute;
    right:-40px;
    top:0px;
    width:50px;
    z-index:-1;
    border-radius:7px;
    box-shadow: 1px 1px 0px  grey;
    transition: 1s ease-in-out;
   
}

.noTransition{
    
    transition:none !important;
    
}
 
 

 
 
#upgrade p{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:17px;
    margin-right:auto;
    color:black;
    font-size: 50px;
    font-weight: bold;
}
 
 
#upscreen{
height:0;
    background-color:#EEEEEE;
    box-shadow: 0px 1px 0px  grey;
    position:absolute;
    right:50px;
    top:0px;
    border-radius:7px;
    z-index:0;
    overflow:hidden;
    transition:0.5s;
}
 
body{background-size:cover;background-image: url(https://i.imgur.com/C0NdZvm.png);background-color:#111122}
#main{background-color:#44444}
#slide{background-color:#555555;z-index:1;background-image:url(https://i.imgur.com/6wtKgsy.png);border:2px solid black}
header{background-color:#FFFF00}
.mspfalogo{background-color:#333333;border-color:#00FFFF}
header .mspfalogo {
    background-size: 50%;
    background-image: url(https://i.imgur.com/w07yTd2.gif);
}
.mspfalogo{border-color:#111111}
footer .mspfalogo{background-image:url(https://i.imgur.com/1tgq3ma.gif)}
.umcontainer{background-color:#FFFF00}
.um{background-color:#99FF99}
#command{background-color:#888888 !important; color:#FFFFFF}
#content{background-color:transparent;overflow:visible}
#info span .spoiler.open{background-color: #555555;color:white;}
#latestpages span div.spoiler.open{background-image: linear-gradient(to right, #3C2255 0%, #c3c3c3 1%, #c3c3c3 99%, #3C2255 100%) !important; border:2px black solid}
html{filter: invert(0%);transition: transform 1s ease-in-out}
 
#scriptvariables{
    
    display:none;
    
}



nav a:nth-child(1) {
 
font-size:0em;
text-decoration:none;
 
}
nav a:nth-child(1):after {
  content:"INICIO";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
.heart{visibility:hidden}
 
 
nav a:nth-child(3) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(3):after {
  content:"MSPA";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-child(5) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(5):after {
  content:"EXPLORAR";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-child(7) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(7):after {
  content:"ALEATORIO";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-child(9) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(9):after {
  content:"ESTADÍSTICAS";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-child(11) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(11):after {
  content:"REGISTRO";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
 
 
nav a:nth-child(13) {
 
font-size:0em;
 text-decoration:none;
}
nav a:nth-child(13):after {
  content:"BUSCAR";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-child(15) {
 
font-size:0em;
text-decoration:none;
}
nav a:nth-child(15):after {
  content:"MI MSPFA";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:nth-last-child(5) {
 
font-size:0em;
text-decoration:none;
}
nav a:nth-last-child(5):after {
  content:"DISCORD";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
 
nav a:nth-last-child(3) {
 
font-size:0em;
text-decoration:none;
}
nav a:nth-last-child(3):after {
  content:"CONTACTO";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
 
nav a:nth-last-child(1) {
 
font-size:0em;
text-decoration:none;
}
nav a:nth-last-child(1):after {
  content:"DONAR";
    font-size: x-small;
vertical-align:middle;
text-align:center;
text-decoration:underline;
}
 
nav a:link:after{color:red}
 nav a:visited:after{color:red}
 nav a:hover:after{color:darkred}
 
a#savegame {
  font-size: 0em;
}
 
a#savegame:after {
  content: 'Guardar partida';
  font-size: 11px;
}
 
a#loadgame {
  font-size: 0em;
}
 
a#loadgame:after {
  content: 'Cargar partida';
  font-size: 11px;
}
 
a#deletegame {
  font-size: 0em;
}
 
a#deletegame:after {
  content: 'Borrar datos de la partida';
  font-size: 11px;
}
 
#container{
 
background-image: linear-gradient(to right, transparent 0%, #3C2255 7%, #3C2255 93%, transparent 100%);
    background-image: url(https://imgur.com/cSrgGtH.png) !important;
        background-size: 75% 100%;
    position:relative;
    z-index:0;
   
}
 
p.box{
 
-webkit-box-shadow: 0px 0px 13px 16px rgba(92,92,92,1);
-moz-box-shadow: 0px 0px 13px 16px rgba(92,92,92,1);
box-shadow: 0px 0px 13px 16px rgba(92,92,92,1);
background-color: rgba(92,92,92,1);
}
 
a:link{color:red}
 
a:visited{color:darkred}